body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 15pt;
    background-color: powderblue;
    margin-left: 10px;
    
}

.users{
    width: 200px;
    margin: 0 auto;
    text-align: center;  
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul li {
    margin: 5px;
}

button{
    background-color: antiquewhite;
    color: black;
    padding: 15px 30px;
    display: inline-block;
    border: 2px solid teal;
    border-radius: 6px;
    font-size: 20px;
}

button:hover{
    background-color: teal;
    color: white;
}

input[type=text]{
    border: 2px solid teal;
    border-radius: 4px;
    padding: 12px 20px;
    
}

input[type=number]{
    border: 2px solid teal;
    border-radius: 4px;
    padding: 12px 20px;
}

input[type=text]:focus{
    background-color: antiquewhite;
}

input[type=number]:focus{
    background-color: antiquewhite;
}


input[type=color]{
    border: 2px solid teal;
    border-radius: 4px;
    padding: 12px 20px;
}

input[type=color]:focus{
    background-color: antiquewhite;
}

input[type=button]{
    background-color: antiquewhite;
    color: black;
    padding: 15px 30px;
    display: inline-block;
    border: 2px solid teal;
    border-radius: 6px;
    font-size: 20px;
}

input[type=button]:hover{
    background-color: teal;
    color: white;
}